.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: #17112A;
    height: 100vh;
  }
  .userprofile {
    font-size: 24px; 
    font-weight: bold; 
  }
  
  .userImage {
    margin-top: 6rem;
    display: flex;
    align-items: center; 
    gap: 3rem;
    margin-right: 5rem;
    
  }
  .personalInfo {
    display: flex;
    gap: 10rem; 
  }
  .secHeading {
    margin-top: 3rem;
    
    padding-right: 10rem;
  }
  .buttonEdit {
    padding-left: 30rem;
    
  }
  .infoItem {
   font-size: 18px;
   margin-bottom: 2rem;
  }
  
  .button {
    margin-left: auto;
    
  }
  .contactInfo{
    display: flex;
    gap: 11.5rem;
  }
  .firstPara{
    margin-bottom: 2rem;
    font-size: 28px;
  }