@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0b031e;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* In your CSS file or a <style> tag */
::-webkit-scrollbar {
  width: 3px; /* Adjust width */
}

::-webkit-scrollbar-thumb {
  background-color: white; /* Scrollbar thumb color */
  border-radius: 8px; /* Rounded corners */
}

::-webkit-scrollbar-track {
  background: transparent; /* Scrollbar track color */
}
