/* In your CSS file or a <style> tag */
::-webkit-scrollbar {
    width: 3px; /* Adjust width */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: white; /* Scrollbar thumb color */
    border-radius: 8px; /* Rounded corners */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Scrollbar track color */
  }

  .Input-container{
    display: flex;
    gap: 2vw;
    width: 100%;
  }

  
  .Input-container input{
    width: 80%;
  }

  .chat-box-size{
    width: 70%;
  }